<h2 id='title'>ember-colpick</h2>
<p>ember component for <a href="https://github.com/mrgrain/colpick">jquery-colpick</a></p>
<LinkTo @route='index'> inline </LinkTo> |
<LinkTo @route='input'> input </LinkTo>
<br>
<br>
{{outlet}}
