<h2 id='title'>ember-colpick</h2>
<p>ember component for <a href="http://colpick.com/">http://colpick.com/</a></p>
{{#link-to 'index'}} inline {{/link-to}} |
{{#link-to 'input'}} input {{/link-to}}
<br>
<br>
{{outlet}}
